# Local machine directory storing you personal Chrome settings. Found at
# `chrome://version`. Needed because sites block browsers with profiles.
export CHROME_DATA_DIR=

# Email used to log in.
export LOGIN_EMAIL=
# Passwrod used to log in.
export LOGIN_PASSWORD=
# URL to log in to.
export LOGIN_URL=
# URL to call to call via `fetch` in browser console to get the desired data.
export FETCH_URL=
# The desired dates to search for. This is a comma-separated list of dates in
# the format `YYYY-MM-DD`. For example, `2021-01-01,2021-01-02`.
export DESIRES_DATES=

# We use Twilio to automate notifications to the "user" (you) when the scraper
# finds something of value.

# Your Twilio account identifier.
export TWILIO_ACCOUNT_SID=
# Your Twilio account secret, used to authenticate API requests.
export TWILIO_AUTH_TOKEN=
# The Twilio phone number from which SMS alerts will be sent.
export TWILIO_PHONE_NUMBER=
# The phone numbers to which SMS alerts will be sent. This is a comma-separated
# list of phone numbers in the format `+1XXXXXXXXXX`. For example,
# `+15555555555,+16666666666`.
export USER_PHONE_NUMBERS=
